<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <%= turbo_stream_from :posts %>
  <% @posts.each do |post| %>
    <div class="card">
      <%= render post %>
    </div>
  <% end %>
</div>

<%= render "form", post: Post.new %>
